.container {
  display: flex;
  justify-content: space-evenly;
  background-color: dodgerblue;
  height: 100px;
  width: 100%;
  align-items: center;
  box-shadow: 0 3px 10px 0 darkgray;
}

.container a {
  text-decoration: none;
  font-weight: 700;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
}

.container a:hover {
  color: lightgrey;
  transition: 0.2s;
}




